#container { position:absolute; top:30px; left:20px; border:1px solid black; height:350px; width:760px; }
#bar0 { position:absolute; top:100px; left:130px; height:200px; width:30px; }
#bar1 { position:absolute; top:100px; left:360px; height:200px; width:30px; }
#bar2 { position:absolute; top:100px; left:600px; height:200px; width:30px; }
.disk { padding:0; margin:0; position:absolute; border:1px solid gray; height:26px; 
-moz-box-sizing:border-box; box-sizing:border-box; border-radius:4px;}
/* left of disk0 at 35px; left = 130 (bar0 left) -w/2 + 15 (bar width/2)  */
#disk0  { top:274px; left:35px;background:red; width:220px;  } 
#disk1 { top:248px; left:55px;background:green; width:180px; } 
#disk2 { top:222px; left:75px;background:blue; width:140px; }  
#disk3 { top:196px; left:95px;background:black; width:100px; }
#disk4 { top:170px; left:115px;background:white; width:60px;  }
#bottombar { position:absolute; top:300px; left:10px;background:#222; border:1px solid black; height:30px; width:740px; }
button { float:right; margin-top:26px; margin-right:16px; padding:2px 8px; height:28px;}
img { height:200px; width:30px; padding:0; margin:0; } /* for towers (bars) */
.insideImg { z-index:100; position:absolute; border:0;top:-1px; height:14px; width:30px; }