body 			{margin:0; padding:0;}
#wholePage		{width: 1360px;height: 870px;}
#greyPart		{width: 1360px;height: 870px;}
#footer			{width:1360px;height:128px;}			
#whitePart		{width:1010px;height:740px;background-color:white;margin-left:175px;}
#header			{height:175px;}	
#logo			{width:280px;height:175px;margin-left:31.5px;float:left;}	
#movPart		{width:1010px;height:360px;background-color:#a2185b;}	
#menuHeader		{width:670px;height:36px;margin-top:40px;float:right;margin-left:0px;}
.menu			{list-style-type:none;padding:0px;}	
li.menuBar a		{float:left;text-decoration:none;}
li.menuBar		{position:relative;top:-15px;}
.word			{width:130px;height:29px;text-align:center;color:#007ACC;padding-top:5px;}	
.word:hover		{background-color:#3399FF;color:white;opacity:0.8}
.select div.word:hover{opacity:1;}
.select div.word	{background-color:#007ACC;color:white;width:115px;}
#socialNetwork 	{float:right;width:310px;height:45px;position:absolute;right:204px;top:10px;}
.socialText 		{width:150px;float:left;height:10px;word-wrap:auto;font-size:80%;text-align:center;display:block;}
.socialText a	{text-decoration:none;color:#a2185b;}
.socialBtns 		{width: 150px;height:10px;position:relative;right:-180px;top:-5px;}
.socialBtns2	{width: 150px;height:10px;position:relative;right:-180px;top:-5px;}
.socialBtns a.Btn:hover{opacity:0;}
#bod{ width: 1010px;
height: 565px;
background-color: #98B2C8;
}
#form {
    margin-left: 300;
    font-size: 25;
    font-family: inherit;
    color: white;
}

#head   {  font-size: 60px;
    margin-left: 400;
    color: #D251CC;
    font-family: times new roman;
}
